/* 主题色 变量*/
/* 页面的公共样式 CSS重置 */
* {
  margin: 0;
  padding: 0;
}
img {
  /* 去除图片底部3px间距 */
  vertical-align: middle;
}
body {
  background-color: #fff;
  /* padding-top: 45px; */
  /* padding-bottom: 45px; */
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/* 1. 头部区域公共样式 */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 45px;
  background-color: #006699;
  /* 搜索表单 */
}
#header > h4 {
  color: #fff;
  line-height: 45px;
  text-align: center;
  margin: 0;
  font-weight: normal;
}
#header .fa-arrow-left {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #fff;
}
#header .fa-search,
#header .fa-home {
  color: #fff;
  position: absolute;
  right: 15px;
  top: 15px;
}
#header .search-form {
  /* 给搜索表单添加一个左右内间距  内容变小 input宽度就会小 */
  padding: 5px 45px;
}
#header .search-form > input {
  background-color: #fff;
  margin-bottom: 0;
  /* 默认就让输入框文字居左 */
  text-align: left;
  font-size: 14px;
}
/* 3. 中间主体部分 */
#main {
  /* 加了margin main容器的高度和区域滚动的子容器的高度不一致
	同时加margin会造成margin塌陷  父容器也会随着子容器的margin下来 */
  /* margin-top:45px;
	margin-bottom:45px;	 */
  padding-top: 45px;
  padding-bottom: 45px;
}
/* 9. 底部区域样式 */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  /* 固定定位是没有默认100%宽度 */
  width: 100%;
  height: 45px;
  background-color: #006699;
}
#footer a {
  color: #fff;
  font-size: 14px;
  display: block;
  padding: 10px 0;
  text-align: center;
}
#footer a > span {
  display: block;
  margin-top: 2px;
}
#footer a.active {
  color: orange;
}
/* 3. 商品的公共样式 */
.product {
  display: block;
  box-shadow: 0px 0px 5px #666;
  text-align: center;
  padding-bottom: 10px;
}
.product .product-img {
  width: 100%;
}
.product .product-name {
  /* 控制只显示2行文字对于隐藏 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.product .product-price {
  font-size: 12px;
}
.product .product-price .new-price {
  color: #f00;
}
.product .product-price .old-price {
  color: #888;
}
/* 1. 搜索表单的公共样式 */
.search-form > form {
  padding: 10px;
  position: relative;
  padding-right: 64px;
}
.search-form > form > .input-search {
  height: 33px;
  font-size: 12px;
  border-color: #006699;
  /* 把输入框右上角右下角圆角去掉 */
  border-radius: 3px 0px 0px 3px;
  margin-bottom: 0;
}
.search-form > form .btn-search {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #006699;
  border-color: #006699;
  /* 把按钮左上角左下角的圆角去掉 */
  border-radius: 0px 3px 3px 0px;
}
html,
body {
  height: 100%;
}
#main {
  height: 100%;
}
#main .container {
  height: 100%;
  position: relative;
}
#main .container .productlist {
  height: 30px;
  background: #eee;
}
#main .container .productlist .title > div {
  text-align: center;
}
#main .container .productlist .title > div a {
  line-height: 30px;
  display: block;
  font-size: 12px;
  color: #666;
}
