* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  /* 去除图片底部3px间距 */
  vertical-align: middle;
}
body {
  background-color: #fff;
  /* padding-top: 45px; */
  /* padding-bottom: 45px; */
}
#header {
  height: 45px;
  width: 100%;
  background-color: #006699;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#header h4 {
  margin: 0;
  text-align: center;
  line-height: 45px;
  font-weight: 400;
  font-family: "微软雅黑";
  color: #fff;
}
#header .fa-arrow-left {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 18px;
  color: #fff;
}
#header .fa-search {
  color: #fff;
  position: absolute;
  right: 15px;
  top: 15px;
}
#header .search-form {
  padding: 5px 45px;
}
#header .search-form input {
  background-color: #fff;
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}
#main {
  padding: 45px 0;
}
/* 3. 商品的公共样式 */
.product {
  display: block;
  box-shadow: 0px 0px 5px #666;
  text-align: center;
  padding-bottom: 10px;
}
.product .product-img {
  width: 100%;
}
.product .product-price {
  font-size: 12px;
}
.product .product-price .new-price {
  color: #f00;
}
.product .product-price .old-price {
  color: #888;
}
.search-box {
  padding-top: 10px;
}
.search-box .search-form {
  padding: 0 10px;
  position: relative;
}
.search-box .search-form > input {
  background-color: #fff;
  border: 1px solid #006699;
  font-size: 12px;
  text-align: left;
  height: 30px;
}
.search-box .search-form .btn-search {
  position: absolute;
  top: 0px;
  right: 10px;
  height: 30px;
  background-color: #006699;
  font-size: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  line-height: 10px;
}
#footer {
  z-index: 999;
  height: 45px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #006699;
}
#footer a {
  display: block;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
#footer a > span {
  display: block;
  margin-top: 2px;
}
#footer a.active {
  color: orange;
}
#main .search-history {
  padding: 0 10px;
}
#main .search-history .title {
  padding: 10px 0;
}
#main .search-history .title > span {
  font-size: 12px;
  color: #666;
}
#main .search-history .title .btn-clear {
  line-height: 20px;
  font-size: 12px;
  color: #666;
}
#main .search-history .content {
  border: 1px solid #ccc;
  line-height: 30px;
}
#main .search-history .content > ul > li {
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-left: 15px;
}
#main .search-history .content > ul > li:last-child {
  border-bottom: 0;
}
#main .search-history .content > ul > li > a {
  color: #666;
  font-size: 12px;
}
#main .search-history .content > ul > li .btn-delete {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #666;
  font-size: 12px;
}
